body{
    font-family: 'Source Code Pro', sans-serif;
}

#editor { 
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
}

#toolbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
}