<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}jquery.layout-latest.min.js"></script>

        <script type='text/javascript' src='{{STATIC_URL}}index.js'></script>
        <script type='text/javascript'>
        $(function(){
            init_csrf_token();
            setup();
        })
        </script>


        <link href='{{STATIC_URL}}index.css' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

        <style type="text/css" media="screen">
            
        </style>


    </head>
    <body>
        {% csrf_token %}
        <div class='ui-layout-west'>

            <button id='newfile'>New File</button>
            <div class='hidden center' id="newfiledialog">
                <hr />
                <input type='text' id='new_file_name' />
                <button id='create_new_file'>Create file</button>
            </div>

            <script type='text/javascript'>
                $('#newfile').button().click(function(){
                    $('#newfiledialog').slideToggle();
                });

                $('#create_new_file').button().click(function(){
                    $.post('.', {'mode': 'new', 'filename': $('#new_file_name').val()});
                });
            </script>


            <hr />
            <button id='savefile'>Save Selected</button>
            <p>Project Files:</p>

            <div id="files">
                {% for file in files %}
                <input type="radio" id='file-{{file.pk}}' name='file' /> <label for='file-{{file.pk}}'>{{file.name}}</label>
                {% endfor %}
            </div>


            <hr />
            <button>Delete Selected</button>
        </div>

        <div class='ui-layout-center'>
            <div id="editor"></div>
                
            <script src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode("ace/mode/c_cpp");
            </script>
            
        </div>

        <div id='east' class='ui-layout-east'>
            <div class="ui-layout-north">
                <textarea id="input" placeholder="Text typed here will be used as program input"></textarea>
            </div>
            <div class="ui-layout-center">
                <div id="toolbar">
                    <button id='test'>Compile and Run</button>
                </div>
                <div id='results'> 

                </div>
            </div>
        </div>




    </body>
</html>